@charset 'UTF-8';

@import "../../node_modules/bulma/css/bulma.css";
@import "../../node_modules/bulma-pricingtable/dist/css/bulma-pricingtable.min.css";
@import "../../node_modules/bulma-pageloader/dist/css/bulma-pageloader.min.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

